<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'personal' %}">Info personal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'jugadores' %}">Real madrid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'amigos' %}">Amigos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cosas' %}">Cosas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'videos' %}">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'listar_jugadores' %}">listar equipos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'listar_peliculas' %}">listar peliculas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Peliculas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'listar_peliculas' %}">Listar Peliculas</a></li>
            <li><a class="dropdown-item" href="{% url 'insertar_pelicula' %}">Insertar Pelicula</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'formulario' %}">Formulario</a></li>
            <li><a class="dropdown-item" href="{% url 'index_empleado' %}">Buscar Oficio</a></li>
            <li><a class="dropdown-item" href="#"></a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>