{% extends 'base.html' %}

{% block title %}indice{% endblock title%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
                  <h1>Alta departamento</h1>
                    <div class="mb-3">

                      <form method="post" action="{% url 'alta' %}">
                            {% csrf_token %}
                            <label for="exampleFormControlInput1" class="form-label">Número Departamento: </label>
                            <input name="departamento" type="text" class="form-control" id="exampleFormControlInput1" placeholder="introduce departamento">

                            <label for="exampleFormControlInput1" class="form-label">Nombre Departamento: </label>
                            <input name="nombre" type="text" class="form-control" id="exampleFormControlInput1" placeholder="introduce Nombre">

                            <label for="exampleFormControlInput1" class="form-label">Localidad: </label>
                            <input name="localidad" type="text" class="form-control" id="exampleFormControlInput1" placeholder="introduce localidad">
                            <br>

                          <button type="submit" class="btn btn-primary btn-lg">Grabar Departamento</button>
                      </form>
                    </div>

            </div>
            <div class="col-2">

            </div>

        </div>



    </div>

{% endblock content %}
