{% extends 'base.html' %}

{% block title %}indice{% endblock title%}

{% block content %}
    <div class="container">
      <h1>Baja departamento</h1>

      <form method="post" action="{% url 'baja' %}">
          {% csrf_token %}
          <label for="exampleFormControlInput1" class="form-label">Número Departamento: </label>
          <fieldset>
            <input type="text" name="codigo" list="departamento" />
              <datalist id="departamento">
                    {% for dept in departamentos %}
                        <option value="{{dept.0}}">
                    {% endfor %}
              </datalist>

          </fieldset>

        <button type="submit" class="btn btn-primary btn-lg">Borrar Departamento</button>
      </form>


    </div>
{% endblock content %}