{% extends 'base.html' %}

{% block title %}indice{% endblock title%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
                <h1>Modificar departamento</h1>

                <form method="post" action="{% url 'modificar' departamento.0 %}">
                  {% csrf_token %}
                  <label for="exampleFormControlInput1" class="form-label">Número Departamento: </label>
                  <fieldset>
                    <input type="text" value="{{departamento.1}}" name="codigo" disabled list="departamento" />
                      <!--
                      <datalist id="departamento">
                            {% for dept in departamentos %}
                                <option value="{{dept.0}}">
                            {% endfor %}
                      </datalist>
                    -->
                  </fieldset>

                <label for="exampleFormControlInput1" class="form-label">Nueva Localidad: </label>
                <input name="localidad" value="{{departamento.2}}" type="text" class="form-control" id="exampleFormControlInput1" placeholder="introduce Localidad">
                <br><br>
                <button type="submit" class="btn btn-primary btn-lg">Modificar Departamento</button>
              </form>

            </div>
            <div class="col-2">

            </div>
        </div>

    </div>

{% endblock content %}